setuptools~=69.1.0
numpy~=1.26.0
scikit-learn~=1.4.0
#deephyper[hps]==0.7.0
scikit-optimize

git+https://github.com/dgerosa/processify
torch
torchvision
git+https://github.com/pnnl/DDKS
POT

# install this package
.
